@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap');

*{
  box-sizing:border-box;
}
.jost-regular {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html,body{
  height:100%;
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 52, 80);
}
.head{
  font-size: 3rem;
}
main{
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
.currProjects{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
nav{
  padding: 1vw;
  border-right:  solid rgb(255, 255, 255);
}
.singleTodo{
  border: solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}
.todos{
  width: 100%;
  margin: 0rem 2rem;
}
#addTodo{
 width: calc(100% - 2rem);
 text-align: left;
 display: block;
 margin: 1rem ;
 padding: 1rem;
}
#addTodo:focus{
    outline:none;
    box-shadow:none;
    background-color: #27272a;
}

