@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap');

.jost-regular {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 52, 80);
}
.head{
  font-size: 3rem;
}
main{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.currProjects{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
nav{
  height: 100%;
  padding: 1vw;
  border-right: solid;
  border-right: rem;
}
.singleTodo{
  border: solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0.5rem;
}
.todos{
  width: 100%;
  margin-left: 2rem;
}
#addTodo{
 width: 100%;
 text-align: left;
 display: block;
}

